body{
    background-color: cornflowerblue;
}
h1{
    font-size: 80px;
    font-weight: 900;
    font-family: Impact;
}
p{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
button{
    width: 250px;
    height: 80px;
    margin-top: 4rem;
    background-color:rgb(59, 65, 63);
    color: white;
    font-size: 0.8rem;
    font-family:Arial, Helvetica, sans-serif;
}

